In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = "sales_data.csv"
df = pd.read_csv(file_path, encoding="ISO-8859-1")

In [10]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,Not Provided,NYC,NY,10022,USA,Unknown,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,59 rue de l'Abbaye,Not Provided,Reims,UNKNOWN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,Not Provided,Paris,UNKNOWN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,78934 Hillside Dr.,Not Provided,Pasadena,CA,90003,USA,Unknown,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,...,7734 Strong St.,Not Provided,San Francisco,CA,Unknown,USA,Unknown,Brown,Julie,Medium

In [3]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

### fillna is usefull to fill the missing value with the given values
#### inplace = True ensures that its changing in original file not creating a duplicate

In [15]:
df.fillna({'STATE' : 'UNKNOWN','POSTALCODE': 'Unknown', 'TERRITORY': 'Unknown', 'ADDRESSLINE2': 'Not Provided'}, inplace=True)

In [17]:
df.drop_duplicates(inplace=True)

In [29]:
df['Total Revenue'] = df['QUANTITYORDERED'] * df['PRICEEACH']